## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,63.88,overcast clouds,-33.6500,115.3333,Observatory Guest House
1,1,Kapaa,US,75.11,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,2,Port Elizabeth,ZA,71.10,broken clouds,-33.9180,25.5701,39 On Nile Guest House
3,3,San Rafael Del Sur,NI,86.97,clear sky,11.8485,-86.4384,Hospedaje El Chino
4,4,Cape Town,ZA,77.41,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
...,...,...,...,...,...,...,...,...
309,544,Liwale,TZ,71.10,light rain,-9.7667,37.9333,Samoma lodge
310,545,Colares,PT,66.29,few clouds,38.7992,-9.4469,Arribas Sintra Hotel
311,546,Tonj,SS,83.91,clear sky,7.2737,28.6822,Lakan Hotel
312,548,Vao,NC,77.40,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
313,550,Bundaberg,AU,68.29,scattered clouds,-24.8500,152.3500,Takalvan Motel

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [56]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Dubbo")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Dubbo")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Leeton")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ulladulla")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Kiama")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
32,53,Dubbo,AU,64.53,overcast clouds,-32.25,148.6167,Quality Inn Dubbo International

In [58]:
(vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])

(-32.25, 148.6167)

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [71]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
#travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="BICYCLING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,53,Dubbo,AU,64.53,overcast clouds,-32.2500,148.6167,Quality Inn Dubbo International
1,46,Leeton,AU,62.51,broken clouds,-34.5667,146.4000,Hydro Hotel
2,380,Ulladulla,AU,65.30,overcast clouds,-35.3500,150.4667,Sandpiper Motel
3,287,Kiama,AU,70.00,overcast clouds,-34.6833,150.8667,The Sebel Kiama Harbourside

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))